{% extends 'base.html' %} {% block content %}
<div class="container mt-5">
  <h2 class="text-center text-success mb-4">Contact</h2>
  <div class="card">
    <div class="list-group list-group-flush">
      <div class="list-group-item">
        <div class="d-flex align-items-center">
          <i class="fas fa-phone text-success fs-3 me-3"></i>
          <div>
            <h5>President</h5>
            <p class="mb-0">+261 .. .. ... ..</p>
          </div>
        </div>
      </div>
      <div class="list-group-item">
        <div class="d-flex align-items-center">
          <i class="fas fa-building text-success fs-3 me-3"></i>
          <div>
            <h5>Bureau</h5>
            <p class="mb-0">+261 .. .. ... ..</p>
          </div>
        </div>
      </div>
      <div class="list-group-item">
        <div class="d-flex align-items-center">
          <i class="fab fa-facebook text-primary fs-3 me-3"></i>
          <div>
            <h5>Facebook</h5>
            <p class="mb-0">Akan'ny Sambatra Itaosy</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
