{% extends 'base.html' %} {% block content %}
<div class="container mt-5">
  <div class="row">
    <div class="col-md-8">
      <h2>Dashboard</h2>
      <div class="card">
        <div class="card-body">
          <h4>Informations:</h4>
          <p><strong>Nom:</strong> {{ user.last_name }}</p>
          <p><strong>Prénoms:</strong> {{ user.first_name }}</p>
          <p><strong>Date de naissance:</strong> {{ joueur.date_naissance }}</p>
          <p>
            <strong>Catégorie actuelle:</strong> {{ joueur.category_age.nom }}
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
